################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/BackStagePassServer/BackStagePassServer/ffmpeg/ffmpeg.exe
/Backend/BackStagePassServer/BackStagePassServer/wwwroot/posters_480p/84f899f1-5807-4fc0-a9ac-4152afcd9a82.jpg
/Backend/BackStagePassServer/BackStagePassServer/wwwroot/posters_480p/85b2b75a-fd20-4ffe-88f2-85b7d7251484.jpg
/Backend/BackStagePassServer/BackStagePassServer/wwwroot/posters_original/84f899f1-5807-4fc0-a9ac-4152afcd9a82.jpg
/Backend/BackStagePassServer/BackStagePassServer/wwwroot/posters_original/85b2b75a-fd20-4ffe-88f2-85b7d7251484.jpg
